/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/lato-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/lato-v20-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v20-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/lato-v20-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/lato-v20-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Lato";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}

.wrapper-full {
  max-width: 1262px;
  margin: 0 auto;
}

.section-title {
  position: relative;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  padding-bottom: 10px;
  
}

.section-title::after {
  display: block;
  content: "";
  width: 253px;
  height: 3px;
  background-color: #006dfe;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: .2s all;
 
}


.section-title:hover::after {
  display: block;
  content: "";
  width: 453px;
  height: 3px;
  background-color: #006dfe;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* Header styles start */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 56px;
}

.header-list {
  display: flex;
  flex-flow: row wrap;
}

.header-item {
  margin-right: 82px;
}

.header-item:last-child {
  margin-right: 0;
}

.header-link {
  font-size: 18px;
  line-height: 24px;
  color: white;
  text-decoration: none;
}

.header-link:hover,
.header-link:focus,
.header-link:active {
  opacity: 0.75;
}

/* Header styles end */

/* Intro styles start */
.intro {
  min-height: 100vh;
  background: url("../img/intro-bg.png") no-repeat center;
  background-size: cover;
  padding-top: 263px;
}

.intro-title {
  max-width: 619px;
  margin-bottom: 22px;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: white;
}

.intro-subtitle {
  max-width: 546px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 59px;
}

.search-form-info {
  display: flex;
  flex-flow: row wrap;
}

.search-form-field {
  color: #ffffff;
  background-color: transparent;
  background: url(../img/svg/oval.svg) no-repeat left 6px;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #bfc0c5;
  padding-bottom: 22px;
  margin-right: 60px;
  width: 297px;
  padding-left: 43px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.search-form-field::placeholder {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.search-form-submit {
  background-color: #1b7dff;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  padding: 15px 40px;
  text-transform: uppercase;
  border: 0;
}

.search-form-submit:hover,
.search-form-submit:focus,
.search-form-submit:active {
  background: #0e66da;
}

/* Intro styles end */

/* Benefits styles begin */

.benefits {
  margin-bottom: 131px;
}

.benefits-wrap {
  padding: 93 100 100 100;
  max-width: 1262px;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative;
}

.benefits-title {
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  padding: 93px 100px 88px 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: #ffffff;
}

.benefits-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 55px;
  padding: 0 100px;
}

.benefits-card {
  grid-column: span 1;
  margin-bottom: 112px;
}

.benefits-card-pic {
  max-width: 66px;
  margin-bottom: 37px;
}

.benefits-card-thumb {
  display: block;
}

.benefits-card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 26px;
}

.benefits-card-desc {
  max-width: 317px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 39px;
}

.benefits-card-more {
  display: inline block;
  padding-right: 59px;
  font-size: 16px;
  line-height: 24px;
  color: #006dfe;
  text-decoration: none;
  background: url(/img/svg/arrow-icon.svg) no-repeat 95% center;
  transition: 0.2s all;
}

.benefits-card-more:hover,
.benefits-card-more:focus {
  background: url(/img/svg/arrow-icon.svg) no-repeat right center;
}

/* Benefits styles end */

/* Places styels begin */
.places-title {
  margin-bottom: 36px;
}
/* Places styels end */
